/*
1. Left Section
2. Right Section

*/

.section {
  display: flex;
  height: 100vh;
  /* border: 2px solid red; */
}

/* =======================
    1. Left Section
=========================*/

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.parentAvatar {
  display: flex;
  align-items: end;
  padding: 0 !important;
}

.avatarContainer {
  padding: 0 !important;
}

.avatar {
  border: 1px solid darkorange;
  border-radius: 50%;
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.586) inset;
}

.icon {
  color: #5dbcfc;
}

.title {
  font-size: 2rem;
  padding-top: 20px;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  display: none;
  float: left;
}

.iconLink {
  color: #e3d2c498;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.5);
}

.iconLink:hover {
  transform: scale(1.7);
  color: #e3d2c4;
}

@media (max-width: 740px) {
  .icons {
    display: flex;
  }
}

/* =======================
    2. Right Section ==> animation
=========================*/

.rightSection {
  width: 600px;
  margin: auto;
}

.animation {
}

@media (max-width: 1150px) {
  .section {
    flex-direction: column;
  }

  .animation {
    display: none;
  }

  .leftSection {
    margin: auto;
    padding: 0;
  }
}
