.container {
    border-top: 1px solid #e3d2c42e;
    border-bottom: 1px solid #e3d2c42e;
    padding: 100px 0;

}

.tools {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tool {
    background-color: #202020;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:  0.2s;
    border: 2px solid #e3d2c496;
    color: #e3d2c496;

}
.tool:hover {
    border-color: #E3D2C4;
    color: #E3D2C4;
}



.img{
    width: 60px;
    height: 60px;

}


.next{
    border: 2px solid #E3D2C4;
    background-color: #E3D2C4;
    border-radius: 50%;
}

.tool p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 19px;

}



@media  (max-width: 1200px) {
    .tool {
        width: 100px;
        height: 100px;
            border-color: #E3D2C4;
            color: #E3D2C4;
        
    }
    .img{
        width: 40px;
        height: 40px;
    }

    .tool p {
        font-size: 16px;
    }
}